Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

chore: update aoc2021 wasm dep
  package-lock.json
  package.json
Due: prettier --write

feat: add aoc2021 solver (#160)
  .github/workflows/cd.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  .prettierignore
  data/assets/aoc2021-solver-og.png
  data/posts/webassembly/index.js
  netlify.toml
  package-lock.json
  package.json
  src/pages/aoc2021-solver.js
  src/utils/worker.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: 2 xstate machines
  package-lock.json
  package.json
  src/machines/fileInput.js
  src/machines/numberInput.js
  src/pages/xstate.js
Due: eslint --fix, prettier --write

feat(aoc2021-solver): refactor to xstate and prevent edge case bugs
  src/machines/aoc.js
  src/machines/fileInput.js
  src/machines/numberInput.js
  src/pages/aoc2021-solver.js
  src/pages/xstate.js
  src/utils/worker.js
Due: eslint --fix

refactor(aoc2021-solver): move worker to machine
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

feat(aoc2021-solver): handle filereader error
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

refactor(aoc2021-solver): i put a state in a state so i can change state while i change state
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

refactor(aoc2021-solver): state machine names
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

feat(aoc2021-solver): refactor to xstate and handle edge cases (#161)
  package-lock.json
  package.json
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
  src/utils/worker.js
Due: eslint --fix, prettier --write

fix(aoc2021-solver): ensure correct error while animating out
  src/pages/aoc2021-solver.js
Due: eslint --fix

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

feat(aoc2021-solver): allow cancelling while calculating
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

feat(aoc2021-solver): allow cancelling while calculating (#162)
  src/machines/aoc.js
  src/pages/aoc2021-solver.js
Due: eslint --fix

docs(garden): files on the web part1
  data/garden/files-on-the-web/index.mdx
Due: prettier --write

docs(blog): file post tweaks
  data/garden/files-on-the-web/index.js
  data/garden/files-on-the-web/index.mdx
Due: eslint --fix, prettier --write

docs(garden): files on the web (#163)
  data/garden/files-on-the-web/index.js
  data/garden/files-on-the-web/index.mdx
Due: eslint --fix, prettier --write

docs(garden): update post date
  data/garden/files-on-the-web/index.mdx
Due: prettier --write

docs(blog): web worker demo
  data/posts/webworkers/countWorker.js
  data/posts/webworkers/index.js
  data/posts/webworkers/index.mdx
  data/posts/webworkers/other-side.mp3
  data/posts/webworkers/worker.js
Due: eslint --fix, prettier --write

docs(blog): webworker-gems part1
  data/posts/webworkers-gems-of-the-web/countWorker.js
  data/posts/webworkers-gems-of-the-web/cover.jpg
  data/posts/webworkers-gems-of-the-web/index.js
  data/posts/webworkers-gems-of-the-web/index.mdx
  data/posts/webworkers-gems-of-the-web/other-side.mp3
  data/posts/webworkers-gems-of-the-web/party-corgi.gif
  data/posts/webworkers-gems-of-the-web/worker.js
  data/posts/webworkers/countWorker.js
  data/posts/webworkers/index.mdx
Due: eslint --fix, prettier --write

docs(blog): webworkers part2
  data/posts/webworkers-gems-of-the-web/index.js
  data/posts/webworkers-gems-of-the-web/index.mdx
  data/posts/webworkers-gems-of-the-web/main-thread-worker-thread.svg
Due: eslint --fix, prettier --write

docs(blog): webworkers part3
  data/posts/webworkers-gems-of-the-web/countWorker.js
  data/posts/webworkers-gems-of-the-web/index.js
  data/posts/webworkers-gems-of-the-web/index.mdx
Due: eslint --fix, prettier --write

docs(blog): webworker part4
  data/posts/webworkers-gems-of-the-web/index.js
  data/posts/webworkers-gems-of-the-web/index.mdx
Due: eslint --fix, prettier --write

docs(blog): update webworker post date
  data/posts/webworkers-gems-of-the-web/index.mdx
Due: prettier --write

docs(blog): web workers (#164)
  data/posts/webworkers-gems-of-the-web/countWorker.js
  data/posts/webworkers-gems-of-the-web/cover.jpg
  data/posts/webworkers-gems-of-the-web/index.js
  data/posts/webworkers-gems-of-the-web/index.mdx
  data/posts/webworkers-gems-of-the-web/main-thread-worker-thread.svg
  data/posts/webworkers-gems-of-the-web/other-side.mp3
  data/posts/webworkers-gems-of-the-web/party-corgi.gif
  data/posts/webworkers-gems-of-the-web/worker.js
Due: eslint --fix, prettier --write

chore: rebuild package lock
  package-lock.json
Due: prettier --write

build: rebuild package lock
  package-lock.json
Due: prettier --write

build: allow legacy peerdeps
  .github/workflows/cd.yaml
Due: prettier --write

docs(garden): clarify ie support has ended on copy button post
  data/garden/copy-on-the-web/index.mdx
Due: prettier --write

docs(blog): added partytown and comlink to webworker post
  data/posts/webworkers-gems-of-the-web/index.mdx
Due: prettier --write

chore: update packages and change markdown comment syntax
  .prettierignore
  data/garden/Linking the list/index.mdx
  data/posts/Big O, when 1 + 1 = 1/index.mdx
  data/posts/CSS-position/index.mdx
  data/posts/affine-cipher/index.mdx
  data/posts/automagically-lint/index.mdx
  data/posts/automate-dependency-updates/index.mdx
  data/posts/css-selecting/index.mdx
  data/posts/delete-git-branches/index.mdx
  data/posts/gatsby-pagination/index.mdx
  data/posts/git-hooks/index.mdx
  data/posts/linux-on-windows-wsl2-zsh-docker/index.mdx
  data/posts/love-errors/index.mdx
  data/posts/manipulate-text-like-a-boss/index.mdx
  data/posts/math-gatsby-mdx/index.mdx
  data/posts/multilanguage-codeblocks/index.mdx
  data/posts/multithreading-rust/index.mdx
  data/posts/react-refs/index.mdx
  data/posts/rejam/index.mdx
  data/posts/serverless-graphql-part-2/index.mdx
  data/posts/serverless-graphql-part-3/index.mdx
  data/posts/serverless-graphql/index.mdx
  data/posts/table-of-contents/index.mdx
  data/posts/theme-ui-syntax-highlighting/index.mdx
  data/posts/upgrading-to-gatsby-v2/index.mdx
  data/posts/webassembly/index.mdx
  data/posts/webworkers-gems-of-the-web/index.mdx
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: replace react helmet
  gatsby-ssr.js
  src/components/SEO.js
Due: eslint --fix

chore: eslint and prettier changes
  .eslintrc.js
  .eslintrc.json
  .vscode/settings.json
  package.json
Due: eslint --fix, prettier --write

chore: temporarily move post that use math so they do not cause mdx compiler failures
  temp-during-upgrade/affine-cipher/cover.jpg
  temp-during-upgrade/affine-cipher/index.js
  temp-during-upgrade/affine-cipher/index.mdx
  temp-during-upgrade/math-gatsby-mdx/cover.jpg
  temp-during-upgrade/math-gatsby-mdx/index.mdx
Due: eslint --fix, prettier --write

chore: import themed from seperate themeui package
  src/components/Footer.js
  src/components/Sound.js
  src/pages/uses.js
Due: eslint --fix

chore: lint project
  package-lock.json
  src/components/Aside.js
  src/components/BlockQuote.js
  src/components/Div.js
  src/components/GlobalStyles.js
  src/components/Header.js
  src/components/MultiLangCode.js
  src/components/SEO.js
  src/components/Span.js
  src/gatsby-plugin-theme-ui/index.js
  src/machines/aoc.js
  src/pages/404.js
  src/pages/aoc2021-solver.js
  src/pages/index.js
  src/utils/og-image.js
Due: eslint --fix, prettier --write

chore: explicitly use react fragment
  src/components/SEO.js
Due: eslint --fix

feat: parse metastring passed to math syntax in mdx
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: add math posts back
  data/posts/affine-cipher/cover.jpg
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
  data/posts/math-gatsby-mdx/cover.jpg
  data/posts/math-gatsby-mdx/index.mdx
  src/@nickymeuleman/gatsby-theme-blog/components/mdx-components/index.js
  src/components/Div.js
  src/components/MathBlock.js
Due: eslint --fix, prettier --write

chore: manually add mdx provider components
  src/components/Layout.js
  src/components/MultiLangCode.js
Due: eslint --fix

chore: mdx2 fixes
  data/posts/webassembly/index.mdx
  data/posts/webworkers-gems-of-the-web/index.mdx
Due: prettier --write
