Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @emotion/react to ^11.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to ^12.1.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/color to ^0.9.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/presets to ^0.9.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/prism to ^0.9.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency gatsby-plugin-theme-ui to ^0.9.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency theme-ui to ^0.9.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to ^2.3.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency gatsby-plugin-sitemap to v4
  package.json
  yarn.lock
Due: prettier --write

feat: add math support
  data/garden/math-gatsby-mdx/index.mdx
  gatsby-config.js
  package.json
  src/@nickymeuleman/gatsby-theme-blog/components/mdx-components/index.js
  src/components/Div.js
  src/components/MathBlock.js
  src/components/Span.js
  yarn.lock
Due: eslint --fix, prettier --write

fix(deps): update dependency @nickymeuleman/gatsby-theme-blog to ^2.1.2
  package.json
  yarn.lock
Due: prettier --write

docs(blog): math support blogpost
  data/garden/math-gatsby-mdx/index.mdx
  data/posts/math-gatsby-mdx/cover.jpg
  data/posts/math-gatsby-mdx/index.mdx
  package.json
  yarn.lock
Due: prettier --write

docs(blog): math mdx gatsby post tweaks
  data/posts/math-gatsby-mdx/index.mdx
Due: prettier --write

fix: copying and pasting did me dirty
  src/components/Span.js
Due: eslint --fix

chore(deps): update dependency @babel/core to ^7.14.6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update theme-ui monorepo
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency remark-math to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to ^2.3.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency prismjs to ^1.24.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @reach/tooltip to ^0.15.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^11.0.1
  package.json
  yarn.lock
Due: prettier --write

feat: custom scrollbars
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

docs(blog): sieve of eratosthenes
  data/garden/sieve-of-eratosthenes/index.mdx
Due: prettier --write

docs(blog): sieve of eratosthenes edits
  data/garden/sieve-of-eratosthenes/index.mdx
Due: prettier --write

feat: add multi-language codeblock support
  data/garden/sieve-of-eratosthenes/index.mdx
  package.json
  src/components/MultiLangCode.js
  yarn.lock
Due: eslint --fix, prettier --write

docs(blog): multilingual codeblocks
  data/posts/multilanguage-codeblocks/cover.jpg
  data/posts/multilanguage-codeblocks/index.js
  data/posts/multilanguage-codeblocks/index.mdx
Due: eslint --fix, prettier --write

docs(blog): multilingual codeblocks edits
  data/posts/multilanguage-codeblocks/index.mdx
Due: prettier --write

fix: center multilangcode titles
  src/components/MultiLangCode.js
Due: eslint --fix

refactor: multilangcode memoized values
  src/components/MultiLangCode.js
Due: eslint --fix

refactor: deprecating styled from theme-ui
  src/components/Footer.js
  src/pages/uses.js
Due: eslint --fix

feat: added a 404 page
  src/pages/404.js
Due: eslint --fix

docs(blog): codeblock post minor update
  data/posts/theme-ui-syntax-highlighting/index.mdx
Due: prettier --write
