Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

fix: add og image support back
  data/assets/aoc2022-solver-og.png
  src/components/SEO.js
  src/pages/aoc2022-solver.js
Due: eslint --fix

docs(garden): aoc2022 day13
  data/garden/aoc2022-day13/index.mdx
Due: prettier --write

chore: grammar fixes and aoc2022 solver update
  data/garden/aoc2022-day13/index.mdx
  package-lock.json
  package.json
  src/pages/aoc2022-solver.js
  src/utils/aoc2022-worker.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day14
  data/garden/aoc2022-day14/index.mdx
  package-lock.json
  package.json
  src/pages/aoc2022-solver.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day15
  data/garden/aoc2022-day15/index.mdx
  package-lock.json
  package.json
  src/pages/aoc2022-solver.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day16 start
  data/garden/aoc2022-day16/index.mdx
Due: prettier --write

docs(garden): aoc2022 day18
  data/garden/aoc2022-day18/index.mdx
Due: prettier --write

docs(garden): aoc2022 day19
  data/garden/aoc2022-day19/index.mdx
Due: prettier --write

docs(garden): aoc2022 day20
  data/garden/aoc2022-day20/index.mdx
Due: prettier --write

docs(garden): aoc2022 day21
  data/garden/aoc2022-day21/index.mdx
Due: prettier --write

chore: update aoc2022 solver and fix typo
  data/garden/aoc2022-day20/index.mdx
  package-lock.json
  package.json
  src/pages/aoc2022-solver.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day22
  data/garden/aoc2022-day22/index.mdx
Due: prettier --write

docs(garden): aoc2022 day23
  data/garden/aoc2022-day23/index.mdx
Due: prettier --write

docs(garden): aoc2022 day16 solution explained
  data/garden/aoc2022-day16/index.mdx
Due: prettier --write

docs(garden): aoc2022 day25
  data/garden/aoc2022-day25/index.mdx
Due: prettier --write

docs(garden): aoc2022 day24
  data/garden/aoc2022-day24/index.mdx
Due: prettier --write

docs(garden): aoc2022 day17
  data/garden/aoc2022-day17/index.mdx
  data/garden/aoc2022-day24/index.mdx
Due: prettier --write

docs(garden): aoc2015 day01
  data/garden/aoc2015-day01/index.mdx
Due: prettier --write

docs(garden): aoc2015 day02
  data/garden/aoc2015-day02/index.mdx
Due: prettier --write

docs(garden): aoc2015 day03
  data/garden/aoc2015-day03/index.mdx
Due: prettier --write

docs(garden): aoc2015 day04
  data/garden/aoc2015-day04/index.mdx
Due: prettier --write

chore: update aoc2022 solver meta image
  data/assets/aoc2022-solver-og.png
Due: none

chore: allow all aoc2022-solver days to be ran
  src/pages/aoc2022-solver.js
Due: eslint --fix

chore: update aoc2022-solver package
  package.json
Due: prettier --write

feat: add aoc2023 wasm solver
  data/assets/aoc2023-solver-og.png
  data/garden/aoc2023-day01/index.mdx
  data/garden/aoc2023-day02/index.mdx
  package-lock.json
  package.json
  src/machines/aoc2023.js
  src/pages/aoc2023-solver.js
  src/utils/aoc2023-worker.js
Due: eslint --fix, prettier --write

docs(garden): lot of aoc posts
  data/garden/aoc2023-day03/index.mdx
  data/garden/aoc2023-day04/index.mdx
  data/garden/aoc2023-day05/index.mdx
  data/garden/aoc2023-day06/index.mdx
  data/garden/aoc2023-day07/index.mdx
  data/garden/aoc2023-day08/index.mdx
  data/garden/aoc2023-day09/index.mdx
  data/garden/aoc2023-day10/index.mdx
  data/garden/aoc2023-day11/index.mdx
  data/garden/aoc2023-day12/index.mdx
  data/garden/aoc2023-day13/index.mdx
  data/garden/aoc2023-day14/index.mdx
  data/garden/aoc2023-day15/index.mdx
  data/garden/aoc2023-day16/index.mdx
  data/garden/aoc2023-day17/index.mdx
  data/garden/aoc2023-day18/index.mdx
  data/garden/aoc2023-day19/index.mdx
  data/garden/aoc2023-day20/index.mdx
  data/garden/aoc2023-day21/index.mdx
  data/garden/aoc2023-day22/index.mdx
  data/garden/aoc2023-day23/index.mdx
  data/garden/aoc2023-day25/index.mdx
  package-lock.json
  package.json
Due: prettier --write

Start with a clean slate
  README.md
Due: prettier --write

feat: liftoff with Astro
  .gitignore
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  tsconfig.json
Due: prettier --write

feat: lots of tooling setup
  .prettierrc.mjs
  astro.config.mjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Counter.tsx
  src/components/Font.astro
  src/icons/twitter.svg
  src/layouts/Layout.astro
  src/pages/index.astro
  src/posts/post-1.mdx
  tailwind.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

fix: eslint up until astro
  astro.config.mjs
  eslint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Counter.tsx
  src/pages/index.astro
  tsconfig.json
Due: eslint --fix, prettier --write

fix: working astro in frontmatter and script tag
  eslint.config.mjs
  src/components/Counter.tsx
  src/components/Hello.tsx
  src/pages/index.astro
Due: none

fix: apply recommended react lints
  eslint.config.mjs
  src/components/Counter.tsx
  src/pages/index.astro
Due: none

add a11y astro
  eslint.config.mjs
  src/pages/index.astro
Due: none

lint jsx a11y in react
  eslint.config.mjs
  src/components/Counter.tsx
  src/pages/index.astro
Due: none

fix: react no longer needs to be in scope
  eslint.config.mjs
  src/components/Counter.tsx
Due: none

eslint ignore pattern
  eslint.config.mjs
Due: none

eslint config prettier
  eslint.config.mjs
  src/pages/index.astro
Due: none

type lints
  eslint.config.mjs
  src/pages/index.astro
Due: none
