Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: mdx2 no longer has inlinecode use code instead because we intercept all pre tags
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

docs(blog): update math post date
  data/posts/math-gatsby-mdx/index.mdx
  package-lock.json
Due: prettier --write

chore: relax latex strictness
  src/components/MathBlock.js
  src/components/Span.js
Due: eslint --fix

fix: remaining migration issues resolves #173
  .vscode/settings.json
  data/garden/concurrent-vs-parallel/index.mdx
  data/posts/Big O, when 1 + 1 = 1/index.mdx
  data/posts/CSS-position/Slider.js
  data/posts/CSS-position/index.js
  data/posts/css-selecting/index.mdx
  data/posts/git-hooks/index.mdx
  data/posts/love-errors/index.mdx
  data/posts/multilanguage-codeblocks/index.js
  data/posts/multilanguage-codeblocks/index.mdx
  data/posts/react-refs/index.mdx
  data/posts/rejam/index.mdx
  data/posts/serverless-graphql-part-2/index.mdx
  data/posts/serverless-graphql-part-3/index.mdx
  data/posts/serverless-graphql/index.mdx
  data/posts/webworkers-gems-of-the-web/countWorker.js
  package-lock.json
  src/components/Div.js
  src/components/Layout.js
  src/components/MultiLangCode.js
  src/components/Span.js
Due: eslint --fix, prettier --write

fix: use new codeblock api fixes #173
  data/posts/CSS-position/index.js
Due: eslint --fix

chore: deps
  package-lock.json
Due: prettier --write

fix: use different css syntax fixes #168
  data/posts/CSS-position/index.js
Due: eslint --fix

fix: use different css syntax previous commit actually fixed #172 while this one fixes #168 fixes #172
  data/garden/concurrent-vs-parallel/index.js
  data/garden/concurrent-vs-parallel/index.mdx
Due: eslint --fix, prettier --write

fix: optionally check if a class exists fixes #170
  src/components/Div.js
Due: eslint --fix

fix: keys for multilangcodeblocks index is ok here because it will never change fixes #169
  src/components/MultiLangCode.js
Due: eslint --fix

fix: correct syntax in bigo post
  data/posts/Big O, when 1 + 1 = 1/index.mdx
Due: prettier --write

fix: correct html syntax in css-selecting post
  data/posts/css-selecting/index.mdx
Due: prettier --write

fix: correct comment style for mdx2
  data/posts/git-hooks/index.mdx
Due: prettier --write

fix: correct comment style for mdx2
  data/posts/love-errors/index.mdx
Due: prettier --write

fix: correct comment style for mdx2
  data/posts/react-refs/index.mdx
  data/posts/rejam/index.mdx
  data/posts/serverless-graphql-part-2/index.mdx
  data/posts/serverless-graphql-part-3/index.mdx
  data/posts/serverless-graphql/index.mdx
Due: prettier --write

fix: handle possible empty codestring relates to #171
  src/components/Layout.js
Due: eslint --fix

fix: handle possible empty codestring fixes #171
  src/components/MultiLangCode.js
Due: eslint --fix

fix: multilang codeblock changes use new api that uses codestring
  data/posts/multilanguage-codeblocks/index.js
  data/posts/multilanguage-codeblocks/index.mdx
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day01
  data/garden/aoc2022-day01/index.mdx
Due: prettier --write

docs(garden): aoc2022 day02
  data/garden/aoc2022-day02/index.mdx
Due: prettier --write

fix(garden): group aoc posts under series
  data/garden/aoc2022-day01/index.mdx
  data/garden/aoc2022-day02/index.mdx
Due: prettier --write

fix(garden): aoc2022 day02 minor syntax fix in post
  data/garden/aoc2022-day01/index.mdx
Due: prettier --write

docs(garden): aoc2022 day03
  data/garden/aoc2022-day03/index.mdx
Due: prettier --write

docs(garden): aoc2022 day03 minor clarifications
  data/garden/aoc2022-day03/index.mdx
Due: prettier --write

docs(garden): aoc2022 day04
  data/garden/aoc2022-day04/index.mdx
Due: prettier --write

docs(garden): aoc2022 day05
  data/garden/aoc2022-day05/index.mdx
Due: prettier --write

fix: remove trim on codestring and add note about removing it in my blog theme too
  README.md
  src/components/Layout.js
  src/components/MultiLangCode.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day06
  data/garden/aoc2022-day05/index.mdx
  data/garden/aoc2022-day06/index.mdx
Due: prettier --write

docs(garden): aoc2022 day07
  data/garden/aoc2022-day07/index.mdx
  src/components/Layout.js
Due: eslint --fix, prettier --write

docs(garden): aoc2022 day08
  data/garden/aoc2022-day08/index.mdx
Due: prettier --write

docs(garden): aoc2022 day09
  data/garden/aoc2022-day09/index.mdx
Due: prettier --write

fix(garden): aoc2022 day09 typo
  data/garden/aoc2022-day09/index.mdx
Due: prettier --write

docs(garden): aoc2022 day10
  data/garden/aoc2022-day10/index.mdx
Due: prettier --write

docs(garden): aoc2022 day10 minor edits
  data/garden/aoc2022-day10/index.mdx
Due: prettier --write

docs(garden): aoc2022 day11
  data/garden/aoc2022-day11/index.mdx
Due: prettier --write

docs(garden): aoc2022 day12
  data/garden/aoc2022-day12/index.mdx
Due: prettier --write

feat: aoc2022 solver
  .vscode/settings.json
  package-lock.json
  package.json
  src/machines/aoc2022.js
  src/pages/aoc2022-solver.js
  src/utils/aoc2022-worker.js
Due: eslint --fix, prettier --write

chore(aoc2022): update solver for day12
  package-lock.json
  package.json
  src/pages/aoc2022-solver.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
