Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

chore(deps): update dependency husky to ^4.3.8
  package.json
  yarn.lock
Due: prettier --write

docs(garden): rust smart pointers
  data/garden/rust-smart-pointers/index.mdx
  data/garden/rust-smart-pointers/trpl04-01.svg
  yarn.lock
Due: prettier --write

docs(garden): linked list
  data/garden/Linking the list/index.mdx
  data/garden/rust-smart-pointers/index.mdx
Due: prettier --write

docs(garden): smart pointer tweaks
  data/garden/Linking the list/index.mdx
  data/garden/rust-smart-pointers/index.mdx
Due: prettier --write

feat: sound component
  .vscode/settings.json
  data/assets/rimshot.mp3
  data/posts/winget-windows-package-manager/index.mdx
  src/components/Sound.js
Due: eslint --fix, prettier --write

chore: use babel parser for eslint
  .babelrc
  .eslintrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

feat: sound component tweaks
  data/posts/winget-windows-package-manager/index.mdx
  src/components/Sound.js
Due: eslint --fix, prettier --write

docs(blog): winget
  data/assets/psst.mp3
  data/posts/windows-package-manager-winget/index.mdx
  data/posts/winget-windows-package-manager/cover.png
  data/posts/winget-windows-package-manager/index.mdx
  data/posts/winget-windows-package-manager/search-show-install.png
  yarn.lock
Due: prettier --write

chore: disable tooltips to avoid using the window during build
  src/components/Sound.js
Due: eslint --fix

chore: re-enable tooltips
  src/components/Sound.js
Due: eslint --fix

chore: explicity import fragment
  .eslintrc.json
  src/components/Sound.js
Due: eslint --fix, prettier --write

chore(deps): update dependency prettier to ^2.2.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @emotion/core to ^10.1.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/color to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/presets to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @theme-ui/prism to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency gatsby-plugin-theme-ui to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency prismjs to ^1.23.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency theme-ui to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update react monorepo to ^16.14.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @emotion/core to v11
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-helmet to v6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update react monorepo to v17
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade to Gatsby v3
  .nvmrc
  gatsby-config.js
  package.json
  src/components/GlobalStyles.js
  src/pages/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade husky to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

chore: upgrade linting and formatting
  .eslintrc.json
Due: prettier --write

chore: update hooks linting
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade to Gatsby v3 (#117)
  .eslintrc.json
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .nvmrc
  gatsby-config.js
  package.json
  src/components/GlobalStyles.js
  src/pages/index.js
  yarn.lock
Due: eslint --fix, prettier --write

docs(blog): bigo
  data/posts/Big O, when 1 + 1 = 1/bigo.svg
  data/posts/Big O, when 1 + 1 = 1/cover.jpg
  data/posts/Big O, when 1 + 1 = 1/index.mdx
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

docs(blog): bigo tweaks
  data/posts/Big O, when 1 + 1 = 1/index.mdx
Due: prettier --write

docs(blog): bigo add recurrence
  data/posts/Big O, when 1 + 1 = 1/index.mdx
Due: prettier --write

chore(deps): update dependency husky to ^5.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.5.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @reach/tooltip to ^0.15.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update react monorepo to ^17.0.2
  package.json
  yarn.lock
Due: prettier --write
