Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

tsconfig changes and do not lint prettier config
  eslint.config.mjs
  tsconfig.json
Due: prettier --write

Feat: better eslint and typescript setup
  astro.config.mjs
  eslint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Counter.tsx
  src/components/Hello.tsx
  src/pages/index.astro
  tsconfig.json
Due: eslint --fix, prettier --write

chore: delete code to test linting
  src/components/Counter.tsx
  src/components/Hello.tsx
  src/pages/index.astro
  src/posts/post-1.mdx
Due: prettier --write

feat: allow passing an url to youtube embed
  src/components/YouTube.astro
  src/content/blog/automate-dependency-updates/index.mdx
  src/content/blog/git-hooks/index.mdx
  src/pages/index.astro
Due: prettier --write

feat: page per blogpost
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: none

fix: eslint parsing
  eslint.config.mjs
  src/pages/index.astro
Due: none

feat: allow passing url to Tweet embed
  src/components/Tweet.astro
Due: none

feat: add some garden posts and place redirect
  astro.config.mjs
  src/content/blog/aoc2015-day01/index.mdx
  src/content/blog/aoc2015-day02/index.mdx
  src/content/blog/aoc2015-day03/index.mdx
  src/content/blog/aoc2015-day04/index.mdx
  src/content/blog/aoc2022-day01/index.mdx
  src/content/blog/aoc2022-day02/index.mdx
  src/content/blog/aoc2022-day03/index.mdx
  src/content/blog/aoc2022-day04/index.mdx
  src/content/blog/aoc2022-day05/index.mdx
  src/content/blog/aoc2022-day06/index.mdx
  src/content/blog/aoc2022-day07/index.mdx
  src/content/blog/aoc2022-day08/index.mdx
  src/content/blog/aoc2022-day09/index.mdx
  src/content/blog/aoc2022-day10/index.mdx
  src/content/blog/aoc2022-day11/index.mdx
  src/content/blog/aoc2022-day12/index.mdx
  src/content/blog/aoc2022-day13/index.mdx
  src/content/blog/aoc2022-day14/index.mdx
  src/content/blog/aoc2022-day15/index.mdx
  src/content/blog/aoc2022-day16/index.mdx
  src/content/blog/aoc2022-day17/index.mdx
  src/content/blog/aoc2022-day18/index.mdx
  src/content/blog/aoc2022-day19/index.mdx
  src/content/blog/aoc2022-day20/index.mdx
  src/content/blog/aoc2022-day21/index.mdx
  src/content/blog/aoc2022-day22/index.mdx
  src/content/blog/aoc2022-day23/index.mdx
  src/content/blog/aoc2022-day24/index.mdx
  src/content/blog/aoc2022-day25/index.mdx
  src/content/config.ts
Due: prettier --write

feat: add most aoc2023 blogposts
  README.md
  src/content/blog/aoc2023-day01/index.mdx
  src/content/blog/aoc2023-day02/index.mdx
  src/content/blog/aoc2023-day03/index.mdx
  src/content/blog/aoc2023-day04/index.mdx
  src/content/blog/aoc2023-day05/index.mdx
  src/content/blog/aoc2023-day07/index.mdx
  src/content/blog/aoc2023-day08/index.mdx
  src/content/blog/aoc2023-day09/index.mdx
  src/content/blog/aoc2023-day10/index.mdx
  src/content/blog/aoc2023-day11/index.mdx
  src/content/blog/aoc2023-day12/index.mdx
  src/content/blog/aoc2023-day13/index.mdx
  src/content/blog/aoc2023-day14/index.mdx
  src/content/blog/aoc2023-day15/index.mdx
  src/content/blog/aoc2023-day16/index.mdx
  src/content/blog/aoc2023-day17/index.mdx
  src/content/blog/aoc2023-day18/index.mdx
  src/content/blog/aoc2023-day19/index.mdx
  src/content/blog/aoc2023-day20/index.mdx
  src/content/blog/aoc2023-day22/index.mdx
  src/content/blog/aoc2023-day23/index.mdx
  src/content/blog/aoc2023-day25/index.mdx
  src/content/config.ts
Due: prettier --write

feat: add more garden posts
  README.md
  src/content/blog/Linking the list/index.mdx
  src/content/blog/accounts-and-passwords/index.mdx
  src/content/blog/clean-gmail-inbox/filter-actions.png
  src/content/blog/clean-gmail-inbox/index.mdx
  src/content/blog/deleting-spotify-account/all-done.png
  src/content/blog/deleting-spotify-account/check-email.png
  src/content/blog/deleting-spotify-account/checkbox.png
  src/content/blog/deleting-spotify-account/close-email.png
  src/content/blog/deleting-spotify-account/confirm-details.png
  src/content/blog/deleting-spotify-account/contact.png
  src/content/blog/deleting-spotify-account/index.mdx
  src/content/blog/deleting-spotify-account/options.png
  src/content/blog/deleting-spotify-account/sure.png
  src/content/blog/rust-expression-statement/index.mdx
  src/content/blog/rust-if-let-while-let/index.mdx
  src/content/blog/rust-let-const/index.mdx
  src/content/blog/rust-smart-pointers/index.mdx
  src/content/blog/rust-smart-pointers/trpl04-01.svg
  src/content/blog/rust-stack-heap/index.mdx
  src/content/blog/rust-syntax-questionmark/index.mdx
  src/content/blog/rust-tuple-array/index.mdx
  src/content/blog/youtube-recommendations/auto-delete.png
  src/content/blog/youtube-recommendations/index.mdx
  src/content/blog/youtube-recommendations/not-interested.png
  src/content/blog/youtube-recommendations/rick.png
  src/content/blog/youtube-recommendations/tekken.png
  src/content/blog/youtube-recommendations/turn-it-off.png
  src/content/config.ts
Due: prettier --write

feat: optimized images
  astro.config.mjs
  src/content/blog/lint-css/index.mdx
  src/content/blog/manipulate-text-like-a-boss/index.mdx
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: prettier --write

refactor: class on Picture applies to the img tag
  src/pages/index.astro
Due: none

feat: view transitions
  README.md
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: prettier --write

feat: code support
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MathBlock.astro
  src/content/blog/aoc2023-day06/index.mdx
  src/content/blog/aoc2023-day21/index.mdx
  src/content/blog/math-gatsby-mdx/cover.jpg
  src/content/blog/math-gatsby-mdx/index.mdx
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
Due: prettier --write

feat: multilangcode placeholder
  src/components/MultiLangCode.tsx
  src/content/blog/affine-cipher/cover.jpg
  src/content/blog/affine-cipher/index.jsx
  src/content/blog/affine-cipher/index.mdx
  src/content/blog/automagically-lint/cover.png
  src/content/blog/automagically-lint/index.mdx
  src/content/blog/automagically-lint/init.png
  src/content/blog/automagically-lint/squigglies.png
  src/content/blog/multithreading-rust/cover.jpg
  src/content/blog/multithreading-rust/index.mdx
  src/content/blog/sieve-of-eratosthenes/index.mdx
Due: eslint --fix, prettier --write

feat: tag list page and individual tag pages
  src/content/blog/Big O, when 1 + 1 = 1/index.mdx
  src/pages/tag/[slug].astro
  src/pages/tag/index.astro
  src/utils/index.ts
Due: prettier --write

feat: use import aliases
  src/content/blog/affine-cipher/index.mdx
  src/content/blog/automagically-lint/index.mdx
  src/content/blog/math-gatsby-mdx/index.mdx
  src/content/blog/multithreading-rust/index.mdx
  src/content/blog/sieve-of-eratosthenes/index.mdx
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/pages/tag/[slug].astro
  src/pages/tag/index.astro
  tsconfig.json
Due: prettier --write

feat: advent of code solvers
  astro.config.mjs
  src/content/blog/math-gatsby-mdx/cover.jpg
  src/content/blog/math-gatsby-mdx/index.mdx
  src/pages/aoc[year]-solver.astro
  src/pages/index.astro
  src/wasm/aoc-2020/aoc2020_wasm.d.ts
  src/wasm/aoc-2020/aoc2020_wasm.js
  src/wasm/aoc-2020/aoc2020_wasm_bg.wasm
  src/wasm/aoc-2020/aoc2020_wasm_bg.wasm.d.ts
  src/wasm/aoc-2021/aoc2021_wasm.d.ts
  src/wasm/aoc-2021/aoc2021_wasm.js
  src/wasm/aoc-2021/aoc2021_wasm_bg.wasm
  src/wasm/aoc-2021/aoc2021_wasm_bg.wasm.d.ts
  src/wasm/aoc-2022/aoc2022_wasm.d.ts
  src/wasm/aoc-2022/aoc2022_wasm.js
  src/wasm/aoc-2022/aoc2022_wasm_bg.wasm
  src/wasm/aoc-2022/aoc2022_wasm_bg.wasm.d.ts
  src/wasm/aoc-2023/aoc2023_wasm.d.ts
  src/wasm/aoc-2023/aoc2023_wasm.js
  src/wasm/aoc-2023/aoc2023_wasm_bg.wasm
  src/wasm/aoc-2023/aoc2023_wasm_bg.wasm.d.ts
  src/workers/aoc.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: some set up for styling with tailwind
  astro.config.mjs
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/tailwind.css
  tailwind.config.mjs
  tsconfig.json
Due: prettier --write

fix: only vertical margin for p
  src/styles/tailwind.css
Due: none

feat: style aside callouts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Aside.astro
  src/components/Aside.tsx
  src/content/blog/copy-on-the-web/index.mdx
  src/content/blog/copy-on-the-web/index.tsx
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: prettier --write

feat: header and footer
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: none

feat: post card list items and main html element width
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostPreview.astro
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: none

feat: webworker post
  src/content/blog/webworkers-gems-of-the-web/countWorker.js
  src/content/blog/webworkers-gems-of-the-web/cover.jpg
  src/content/blog/webworkers-gems-of-the-web/index.jsx
  src/content/blog/webworkers-gems-of-the-web/index.mdx
  src/content/blog/webworkers-gems-of-the-web/main-thread-worker-thread.svg
  src/content/blog/webworkers-gems-of-the-web/other-side.mp3
  src/content/blog/webworkers-gems-of-the-web/party-corgi.gif
  src/content/blog/webworkers-gems-of-the-web/worker.js
Due: eslint --fix, prettier --write

feat: webassemly blogpost
  eslint.config.mjs
  src/content/blog/webassembly/cover.jpg
  src/content/blog/webassembly/gluecode.svg
  src/content/blog/webassembly/index.jsx
  src/content/blog/webassembly/index.mdx
  src/content/blog/webassembly/js-runtime.svg
  src/content/blog/webassembly/jsvswasm-time.svg
  src/content/blog/webassembly/native-compiling.svg
  src/content/blog/webassembly/timeshift-native-js-wasm.svg
  src/content/blog/webassembly/wasm-compiling.svg
  src/wasm/game-of-life/wasm_game_of_life_nmeuleman.d.ts
  src/wasm/game-of-life/wasm_game_of_life_nmeuleman.js
  src/wasm/game-of-life/wasm_game_of_life_nmeuleman_bg.wasm
  src/wasm/game-of-life/wasm_game_of_life_nmeuleman_bg.wasm.d.ts
Due: eslint --fix, prettier --write

feat: files on the web post
  src/content/blog/files-on-the-web/index.jsx
  src/content/blog/files-on-the-web/index.mdx
Due: eslint --fix, prettier --write

feat: concurrent vs parallel post
  src/content/blog/concurrent-vs-parallel/index.jsx
  src/content/blog/concurrent-vs-parallel/index.mdx
Due: eslint --fix, prettier --write

feat: CSS positioning post
  src/components/CodeBlock.tsx
  src/content/blog/CSS-position/Slider.jsx
  src/content/blog/CSS-position/absolute-positioning-or-not.svg
  src/content/blog/CSS-position/cover.jpg
  src/content/blog/CSS-position/index.jsx
  src/content/blog/CSS-position/index.mdx
Due: eslint --fix, prettier --write

feat: math post and winget post
  src/components/Sound.tsx
  src/content/blog/math-gatsby-mdx/cover.jpg
  src/content/blog/math-gatsby-mdx/index.mdx
  src/content/blog/winget-windows-package-manager/cover.png
  src/content/blog/winget-windows-package-manager/index.mdx
  src/content/blog/winget-windows-package-manager/search-show-install.png
Due: prettier --write

fix: tailwind not picking up the checkmark unicode in the before element sometimes
  src/components/Aside.astro
  tailwind.config.mjs
Due: none

fix: updated date for math support post
  src/content/blog/math-gatsby-mdx/index.mdx
Due: prettier --write

feat: grid layout one top-level grid column layout in the body tag so everything below it can subgrid it. The main tag is display contents so all its children act as siblings and can subgrid it too.
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  src/pages/aoc[year]-solver.astro
  src/pages/index.astro
Due: none

fix: post frontmatter for update dates
  src/content/blog/automagically-lint/index.mdx
  src/content/blog/love-errors/index.mdx
  src/content/config.ts
Due: prettier --write

feat: coloured accents like list bullets, checkboxes, sliders,...
  src/layouts/Layout.astro
Due: none

fix: grid area for tag pages
  src/pages/tag/[slug].astro
  src/pages/tag/index.astro
Due: none

feat: metadata section per post
  src/components/MetadataItem.astro
  src/pages/blog/[slug].astro
Due: none

feat: table of contents component
  src/components/NestedList.astro
  src/components/TableOfContents.astro
  src/utils/index.ts
  src/utils/types.d.ts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
