Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

feat: table of contents component
  src/components/NestedList.astro
  src/components/TableOfContents.astro
  src/utils/index.ts
  src/utils/types.d.ts
Due: none

feat: tailwind features like the typography plugin and a custom anchor component
  package.json
  pnpm-lock.yaml
  src/styles/tailwind.css
  tailwind.config.mjs
Due: prettier --write

feat: Use tailwind prose component and add to blogpost metadata section
  src/components/Prose.astro
  src/pages/blog/[slug].astro
Due: none

fix: remove testing styles
  src/pages/blog/[slug].astro
Due: none

fix: inherit blockquote color in posts
  tailwind.config.mjs
Due: none

feat: use expressive-code codeblocks
  astro.config.mjs
  src/components/CodeBlock.tsx
  src/pages/index.astro
Due: none

feat: A tabbed codeblock
  package.json
  pnpm-lock.yaml
  src/components/MultiCode.astro
  src/components/MultiLangCode.tsx
  src/components/Tabs/README.md
  src/components/Tabs/TabItem.astro
  src/components/Tabs/Tabs.astro
  src/components/Tabs/rehype-tabs.ts
  src/content/blog/affine-cipher/index.mdx
  src/content/blog/automagically-lint/index.mdx
  src/content/blog/files-on-the-web/index.mdx
  src/content/blog/multithreading-rust/index.mdx
  src/content/blog/sieve-of-eratosthenes/index.mdx
Due: prettier --write

feat: seo component
  src/components/SEO.astro
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
  src/utils/og-image.ts
Due: none

fix: post filtering and sorting logic
  src/pages/blog/[slug].astro
Due: none

chore: get site to build
  package.json
  pnpm-lock.yaml
  src/components/Tabs/Tabs.astro
  src/components/Tabs/rehype-tabs.ts
  tsconfig.json
Due: prettier --write

fix: seo things
  src/components/SEO.astro
  src/layouts/Layout.astro
  src/pages/aoc[year]-solver.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: none

feat: prep for aoc2024
  public/aoc2020-solver-og.png
  public/aoc2021-solver-og.png
  public/aoc2022-solver-og.png
  public/aoc2023-solver-og.png
  public/aoc2024-solver-og.png
  src/pages/aoc[year]-solver.astro
  src/pages/index.astro
  src/wasm/aoc-2024/aoc2024_wasm.d.ts
  src/wasm/aoc-2024/aoc2024_wasm.js
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm.d.ts
Due: eslint --fix

feat: a dedicated blog page
  src/components/PostPreview.astro
  src/pages/blog/index.astro
Due: none

feat: design homepage a bit more
  src/pages/index.astro
Due: none

fix: footer anchor styles
  src/components/Footer.astro
Due: none

chore: update aoc2024 wasm day01
  src/wasm/aoc-2024/aoc2024_wasm.d.ts
  src/wasm/aoc-2024/aoc2024_wasm.js
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm.d.ts
Due: eslint --fix

feat: filter draft blogposts in prod
  src/pages/blog/index.astro
  src/pages/index.astro
Due: none

feat: sticky footer
  src/layouts/Layout.astro
Due: none

feat: advent of code 2024 up to day3
  .gitignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/content/blog/aoc2024-day01/index.mdx
  src/content/blog/aoc2024-day02/index.mdx
  src/content/blog/aoc2024-day03/index.mdx
  src/content/config.ts
  src/pages/aoc[year]-solver.astro
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm
Due: prettier --write

fix: regex
  src/content/blog/aoc2024-day03/index.mdx
Due: prettier --write

aoc2024 updates
  src/content/blog/aoc2024-day03/index.mdx
  src/content/blog/aoc2024-day04/index.mdx
  src/content/blog/aoc2024-day05/index.mdx
  src/content/blog/aoc2024-day06/index.mdx
  src/content/blog/aoc2024-day07/index.mdx
  src/content/blog/aoc2024-day08/index.mdx
  src/content/blog/aoc2024-day09/index.mdx
  src/content/blog/aoc2024-day10/index.mdx
  src/content/blog/aoc2024-day11/index.mdx
  src/content/blog/aoc2024-day12/index.mdx
  src/content/blog/aoc2024-day13/index.mdx
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm
Due: prettier --write

aoc2024 day14 post and day13 fix to math in post
  src/content/blog/aoc2024-day13/index.mdx
  src/content/blog/aoc2024-day14/index.mdx
Due: prettier --write

aoc2023: typo
  src/content/blog/aoc2023-day25/index.mdx
Due: prettier --write

aoc2024: add wasm file for solver
  src/wasm/aoc-2024/aoc2024_wasm_bg.wasm
Due: none

chore: setting font has some weirdness
  src/components/Font.astro
Due: none

feat: temp uses page needs an update because my setup changed significantly
  src/pages/uses.astro
Due: none

aoc2024: posts for day 15 to day 25
  src/content/blog/aoc2024-day15/index.mdx
  src/content/blog/aoc2024-day16/index.mdx
  src/content/blog/aoc2024-day17/index.mdx
  src/content/blog/aoc2024-day18/index.mdx
  src/content/blog/aoc2024-day19/index.mdx
  src/content/blog/aoc2024-day20/index.mdx
  src/content/blog/aoc2024-day21/index.mdx
  src/content/blog/aoc2024-day22/index.mdx
  src/content/blog/aoc2024-day23/index.mdx
  src/content/blog/aoc2024-day24/index.mdx
  src/content/blog/aoc2024-day25/index.mdx
Due: prettier --write

chore: relocate assets These should be relocated so vite optimizes them because right now it does not
  src/assets/aoc2020-solver-og.png
  src/assets/aoc2021-solver-og.png
  src/assets/aoc2022-solver-og.png
  src/assets/aoc2023-solver-og.png
  src/assets/psst.mp3
  src/assets/rimshot.mp3
Due: none

chore: temporary location for a post that needs fixes for rewrite
  hard-to-fix/multilanguage-codeblocks/cover.jpg
  hard-to-fix/multilanguage-codeblocks/index.jsx
  hard-to-fix/multilanguage-codeblocks/index.mdx
Due: eslint --fix, prettier --write

advent of code 2025 blogposts and wasm solver
  public/aoc2024-solver-og.png
  public/aoc2025-solver-og.png
  src/content/blog/aoc2025-day01/index.mdx
  src/content/blog/aoc2025-day02/index.mdx
  src/content/blog/aoc2025-day03/index.mdx
  src/content/blog/aoc2025-day04/index.mdx
  src/content/blog/aoc2025-day05/index.mdx
  src/content/blog/aoc2025-day06/index.mdx
  src/content/blog/aoc2025-day07/index.mdx
  src/content/blog/aoc2025-day08/index.mdx
  src/content/blog/aoc2025-day09/index.mdx
  src/content/blog/aoc2025-day10/index.mdx
  src/content/blog/aoc2025-day11/index.mdx
  src/content/blog/aoc2025-day12/index.mdx
  src/content/config.ts
  src/pages/aoc[year]-solver.astro
  src/pages/index.astro
  src/wasm/aoc-2025/aoc2025_wasm.d.ts
  src/wasm/aoc-2025/aoc2025_wasm.js
  src/wasm/aoc-2025/aoc2025_wasm_bg.wasm
  src/wasm/aoc-2025/aoc2025_wasm_bg.wasm.d.ts
Due: eslint --fix, prettier --write
