Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

build: github actions deploy on push
  .github/workflows/boop.yaml
  .github/workflows/cd.yaml
Due: prettier --write

chore: delete prettierrc
  .prettierrc.json
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to ^6.11.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to ^2.0.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @nickymeuleman/gatsby-theme-blog to ^1.5.11
  package.json
  yarn.lock
Due: prettier --write

fix: adjust postextra styling variant
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

fix(deps): update dependency @nickymeuleman/gatsby-theme-blog to 1.5.12
  package.json
  yarn.lock
Due: prettier --write

chore: deps
  yarn.lock
Due: none

feat: add syntax highlighting features
  data/posts/css-selecting/index.md
  data/posts/gatsby-pagination/index.md
  data/posts/github-actions/index.mdx
  data/posts/json-schema/index.md
  data/posts/lint-css/index.md
  data/posts/linux-on-windows-wsl2-zsh-docker/index.md
  data/posts/serverless-graphql-part-3/index.md
  data/posts/upgrading-to-gatsby-v2/index.md
  data/posts/windows-terminal/index.md
  src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix, prettier --write

docs(blog): toc post part1
  data/posts/table-of-contents/index.mdx
Due: prettier --write

docs: table of content post part2
  data/posts/table-of-contents/cover.jpg
  data/posts/table-of-contents/index.mdx
Due: prettier --write

docs(blog): toc post tweaks
  data/posts/table-of-contents/index.mdx
Due: prettier --write

docs(blog): syntax highlighting with theme-ui v1
  data/posts/theme-ui-syntax-highlighting/cover.jpg
  data/posts/theme-ui-syntax-highlighting/index.mdx
Due: prettier --write

docs(blog): typos
  data/posts/theme-ui-syntax-highlighting/index.mdx
Due: prettier --write

docs(blog): linux on windows update
  data/posts/linux-on-windows-wsl2-zsh-docker/index.mdx
  data/posts/linux-on-windows-wsl2-zsh-docker/insider-watermark.png
  data/posts/linux-on-windows-wsl2-zsh-docker/windows-update.png
  data/posts/linux-on-windows-wsl2-zsh-docker/winver.png
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

chore(deps): update dependency eslint-plugin-react to ^7.20.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @nickymeuleman/gatsby-theme-blog to ^1.7.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.2.6
  package.json
  yarn.lock
Due: prettier --write

chore: import syntax and prettier config
  .eslintrc.json
  .prettierignore
  package.json
  src/@nickymeuleman/gatsby-theme-blog/components/Layout.js
  src/@nickymeuleman/gatsby-theme-blog/components/SEO.js
  src/components/Footer.js
  src/components/GlobalStyles.js
  src/components/Header.js
  src/components/Layout.js
  src/components/SEO.js
  src/pages/index.js
  src/pages/uses.js
  src/utils/og-image.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: variants for aside component
  data/posts/windows-package-manager-winget/index.mdx
  package.json
  src/@nickymeuleman/gatsby-theme-blog/components/Aside.js
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

chore: apply aside styles to a blogpost
  data/posts/automagically-lint/index.mdx
  data/posts/github-actions/index.mdx
  src/@nickymeuleman/gatsby-theme-blog/components/Aside.js
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

fix: render inline codeblock
  data/posts/automagically-lint/index.mdx
Due: prettier --write

feat: add blockquote
  data/posts/windows-package-manager-winget/index.mdx
  src/@nickymeuleman/gatsby-theme-blog/components/mdx-components/index.js
  src/components/Aside.js
  src/components/BlockQuote.js
Due: eslint --fix, prettier --write

chore: use aside and quote component
  data/posts/automate-dependency-updates/index.mdx
  data/posts/gatsby-pagination/index.md
  data/posts/git-hooks/index.mdx
  data/posts/gui-on-wsl2-cypress/index.mdx
  data/posts/json-schema/index.mdx
  data/posts/lint-css/index.mdx
  data/posts/linux-on-windows-wsl2-zsh-docker/index.mdx
  data/posts/manipulate-text-like-a-boss/index.mdx
  data/posts/react-memo/index.mdx
  data/posts/react-refs/index.mdx
  data/posts/rejam/index.mdx
  data/posts/serverless-graphql-part-2/index.mdx
  data/posts/serverless-graphql-part-3/index.mdx
  data/posts/unfork-github-repo/index.mdx
  data/posts/windows-terminal/index.mdx
  src/components/Aside.js
  src/components/BlockQuote.js
Due: eslint --fix, prettier --write

docs(blog): update windows terminal post
  data/posts/windows-package-manager-winget/index.mdx
  data/posts/windows-terminal/cover.png
  data/posts/windows-terminal/index.mdx
  data/posts/windows-terminal/store-preview.png
  data/posts/windows-terminal/store.png
Due: prettier --write

docs(blog): update wsl2 blogpost
  data/posts/linux-on-windows-wsl2-zsh-docker/docker-desktop-dashboard.png
  data/posts/linux-on-windows-wsl2-zsh-docker/docker-desktop-install.png
  data/posts/linux-on-windows-wsl2-zsh-docker/index.mdx
  data/posts/linux-on-windows-wsl2-zsh-docker/vscode-remote-wsl.png
Due: prettier --write

fix: remove serviceworker
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add existing posts as part of a series
  data/posts/fresh-development-environment-part-1/index.mdx
  data/posts/fresh-development-environment-part-2/index.mdx
  data/posts/fresh-development-environment-part-3/index.mdx
  data/posts/serverless-graphql-part-2/index.mdx
  data/posts/serverless-graphql-part-3/index.mdx
  data/posts/serverless-graphql/index.mdx
Due: prettier --write

fix(deps): update dependency @nickymeuleman/gatsby-theme-blog to ^1.8.1
  package.json
  yarn.lock
Due: prettier --write

chore: turned the lockfile off and on again
  yarn.lock
Due: none

fix: add line of whitespace between html and markdown
  data/posts/gui-on-wsl2-cypress/index.mdx
Due: prettier --write

feat: link styles
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

feat: more link animation styling
  src/components/Header.js
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

feat: transition styling for anchor elements (#99)
  src/components/Header.js
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix
