Repository NickyMeuleman/nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: responsive 404
  src/pages/404.js
Due: eslint --fix

docs(blog): automagically lint and format update
  data/posts/automagically-lint/index.mdx
  data/posts/automagically-lint/init.png
Due: prettier --write

docs(blog): add example repo link
  data/posts/automagically-lint/index.mdx
Due: prettier --write

fix(deps): update dependency @reach/tooltip to ^0.16.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: prettier --write

feat: update blog theme and other deps
  package.json
  src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix, prettier --write

docs(garden): copy button post
  data/garden/copy-on-the-web/index.js
  data/garden/copy-on-the-web/index.mdx
Due: eslint --fix, prettier --write

found this to helpful for me.
  data/posts/gui-on-wsl2-cypress/index.mdx
Due: prettier --write

docs(blog): position post until relative demo
  data/posts/CSS-position/absolute-flowchart.svg
  data/posts/CSS-position/index.js
  data/posts/CSS-position/index.mdx
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

docs(blog): position post
  data/posts/CSS-position/Slider.js
  data/posts/CSS-position/absolute-flowchart.svg
  data/posts/CSS-position/absolute-positioning-or-not.svg
  data/posts/CSS-position/cover.jpg
  data/posts/CSS-position/index.js
  data/posts/CSS-position/index.mdx
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

docs(blog): position post
  data/posts/CSS-position/Slider.js
  data/posts/CSS-position/absolute-positioning-or-not.svg
  data/posts/CSS-position/cover.jpg
  data/posts/CSS-position/index.js
  data/posts/CSS-position/index.mdx
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

fix(blog): set date to today
  data/posts/CSS-position/index.mdx
Due: prettier --write

fix: horizontal scroll b gone
  src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

fix(blog): css position performance
  data/posts/CSS-position/index.js
Due: eslint --fix

docs(garden): concurrent vs parallel
  data/garden/concurrent-vs-parallel/index.js
  data/garden/concurrent-vs-parallel/index.mdx
Due: eslint --fix, prettier --write

docs(blog): multithreading in rust
  data/posts/multithreading-rust/cover.jpg
  data/posts/multithreading-rust/index.mdx
Due: prettier --write

docs(blog): multithreading in rust v1
  data/posts/multithreading-rust/index.mdx
Due: prettier --write

docs(blog): multithreading in rust post (#151)
  data/posts/multithreading-rust/cover.jpg
  data/posts/multithreading-rust/index.mdx
Due: prettier --write

docs(blog): affine cipher components and post part 2
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
Due: eslint --fix, prettier --write

docs(blog): affine cipher components and post part 3
  data/posts/affine-cipher/cover.jpg
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
Due: eslint --fix, prettier --write

docs(blog): affine cipher
  data/posts/affine-cipher/cover.jpg
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
Due: eslint --fix, prettier --write

docs(blog): affine cipher components and post part 4
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
Due: eslint --fix, prettier --write

docs(blog): affine cipher post edits (#155)
  data/posts/affine-cipher/index.js
  data/posts/affine-cipher/index.mdx
Due: eslint --fix, prettier --write

fix(blog): modular inverse source in decipherchar demo
  data/posts/affine-cipher/index.js
Due: eslint --fix

fix(blog): modular inverse in demo
  data/posts/affine-cipher/index.js
Due: eslint --fix

refactor(blog): outlines on affine cipher post
  data/posts/affine-cipher/index.js
Due: eslint --fix

docs(blog): wasm post demo start
  data/posts/wasm-on-the-jamstack/index.js
  data/posts/wasm-on-the-jamstack/index.mdx
  gatsby-node.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

docs(blog): wasm post start writing
  data/posts/wasm-on-the-jamstack/cover.jpg
  data/posts/wasm-on-the-jamstack/index.js
  data/posts/wasm-on-the-jamstack/index.mdx
  src/components/Aside.js
  yarn.lock
Due: eslint --fix, prettier --write

docs(blog): wasm post progress
  data/posts/wasm-on-the-jamstack/index.mdx
  data/posts/webassembly/cover.jpg
  data/posts/webassembly/index.js
  data/posts/webassembly/index.mdx
Due: eslint --fix, prettier --write

docs(blog): wasm post more progress
  data/posts/webassembly/index.mdx
Due: prettier --write

docs(blog): wasm post some diagrams
  data/posts/webassembly/index.js
  data/posts/webassembly/index.mdx
  data/posts/webassembly/js-runtime.svg
  data/posts/webassembly/jsvswasm-time.svg
  data/posts/webassembly/timeshift-native-js-wasm.svg
Due: eslint --fix, prettier --write

docs(blog): wasm post v1
  data/posts/webassembly/gluecode.svg
  data/posts/webassembly/index.js
  data/posts/webassembly/index.mdx
  data/posts/webassembly/native-compiling.svg
  data/posts/webassembly/wasm-compiling.svg
Due: eslint --fix, prettier --write

docs(blog): wasm post add js to tags
  data/posts/webassembly/index.mdx
Due: prettier --write

docs(blog): wasm post (#158)
  data/posts/webassembly/cover.jpg
  data/posts/webassembly/gluecode.svg
  data/posts/webassembly/index.js
  data/posts/webassembly/index.mdx
  data/posts/webassembly/js-runtime.svg
  data/posts/webassembly/jsvswasm-time.svg
  data/posts/webassembly/native-compiling.svg
  data/posts/webassembly/timeshift-native-js-wasm.svg
  data/posts/webassembly/wasm-compiling.svg
  gatsby-node.js
  package.json
  src/components/Aside.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: add aoc2021 solver
  data/assets/aoc2021-solver-og.png
  package.json
  src/pages/aoc2021-solver.js
  yarn.lock
Due: eslint --fix, prettier --write

build: return to npm instead of yarn
  .github/workflows/cd.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  .prettierignore
  data/posts/webassembly/index.js
  netlify.toml
  package-lock.json
  package.json
  src/pages/aoc2021-solver.js
  yarn.lock
Due: eslint --fix, prettier --write

feat(aoc2021-solver): handle errors and add slight animations
  package-lock.json
  package.json
  src/pages/aoc2021-solver.js
  src/utils/worker.js
Due: eslint --fix, prettier --write

fix(aoc2021-solver): show solutions while they are animating out
  src/pages/aoc2021-solver.js
Due: eslint --fix

fix(aoc2021-solver): reasonable animation durations
  src/pages/aoc2021-solver.js
Due: eslint --fix

fix(aoc2021-solver): og image and animation duration
  data/assets/aoc2021-solver-og.png
  src/pages/aoc2021-solver.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
